 @import url(./fonts/roboto.css);

:root {
    --roboto: 'Roboto';
}

body {
    padding: 0;
    margin: 0;
    background: #fff;
    font-family: var(--roboto);
}

body::-webkit-scrollbar {
    display: none;
    border: none;
    background: none;
}

.container {
    position: relative;
    height: auto;
    width: auto;
}

.section1 {
    height: 100vh;
    width: 100%;
}

.bgimg {
    position: absolute;
    height: 100%;
    /* height: 100vh; */
    width: 100%;
    z-index: -1;
}

.cardgroup1 {
    display: flex;
    position: absolute;
    z-index: 50;
    /* bottom: 0; */
    bottom: 10px;
    left: 0;
    right: 0;
    gap: 2.3em;
    padding: 0 100px 0 100px;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.textgroup1 {
    /* width: 40em; */
    width: 100%;
}

.heading1 {
    font-size: 60px;
    /* font-size: 46pt; */
    /* font-size: 3.5em; */
}

.text1 {
    font-size: 30px;
    /* font-size: 28pt; */
    /* font-size: 1.6em; */
    /* width: 16.3em; */
    margin-top: -1em;
}

/* .subimg1 {
    height: 100%;
    width: 100%;
    height: 100%;
    height: 328px;
    width: calc(100vw / 1.6);
    border-radius: 8px;
} */

.section2 {
    position: relative;
    /* margin-top: -15em; */
    height: 105vh;
    /* width: 100%; */
    background: #FBB714;
    /* position: relative; */
    /* margin-top: -2em; */
}

.cardgroup2 {
    display: flex;
    gap: 2.5em;
    align-items: center;
    justify-content: space-between;
    padding: 140px 100px 0 100px;
}

@media screen and (min-width: 768px) and (min-height: 1000px) {
    .cardgroup1 {
        bottom: 320px;
        /* padding: 0 60px 0 60px; */
    }
    .bgimg {
        height: 80% !important;
    }
    /* .heading1 {
        font-size: 80px !important;
    } */
    .section2 {
        margin-top: -18em !important;
        height: 80vh !important;
        width: 100% !important;
    }
    /* .cardgroup2 {
        padding: 140px 60px 0 60px;
    } */
    /* .regform {
        width: 85% !important;
    } */
    /* .s3heading {
        font-size: 20px !important;
    } */
    /* .section3 {
        padding: 74px 60px 0 60px !important;
    } */
}

@media screen and (min-width: 1400px) {
    /* .cardgroup1 {
        bottom: 300px !important;
    } */
    .heading1 {
        font-size: 60pt;
    }
    .text1 {
        font-size: 30pt;
    }
    .subimg2 {
        width: 981px !important;
    }
    /* .s3textgroup {
        padding: 2px 50px 2px 50px !important;
    } */
    /* .s3heading {
        font-size: 68pt !important;
        margin-top: .25em;
    }
    .s3text {
        position: relative;
        font-size: 28pt !important;
        top: -.5em !important;
    } */
}

@media screen and (max-width: 1600px) and (min-height: 900px) {
    /* .cardgroup1 {
        bottom: 300px !important;
    } */
    .heading1 {
        font-size: 65pt !important;
    }
    .text1 {
        font-size: 35pt;
    }
    .subimg2 {
        width: 781px !important;
    }
    /* .s3textgroup {
        padding: 45px 50px 45px 50px !important;
    }
    .s3heading {
        font-size: 50pt !important;
    }
    .s3text {
        position: relative;
        font-size: 28pt !important;
        top: .5em !important;
    } */
}

/* .heading2 {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: .1em;
} */

.subimg2 {
    /* width: 95%; */
    /* height: 100%; */
    width: 581px;
    /* height: 215px; */
    padding: 0;
    margin: 0;
}

.subsection2 {
    position: relative;
    height: 100%;
    /* width: 17%; */
    /* left: 735px; */
    /* top: 65px; */
}

.regform {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* width: 100%; */
    /* height: 300px; */
    width: 340px;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: -.001em -.001em 1em .01em #80808080;
}

.formheading {
    font-size: 16pt;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    color: #7C1646;
}

.textbox {
    height: 2.5em;
    margin-bottom: 14px;
    border-radius: 5.33px;
    padding-left: .9em;
    background: rgba(128, 128, 128, 0.05);
    border: .01em solid #80808080;
}

.textbox:focus {
    outline: none;
}

.radio-container {
    display: flex;
    flex-direction: column;
    margin-left: -.5em;
    margin-bottom: .25em;
}

.button {
    position: relative;
    margin-top: .5em;
    /* bottom: 50px; */
    /* right: 40px; */
    width: 100%;
    /* width: 21.25em; */
    /* width: 243px; */
    height: 50px;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 16px;
    background: #FBB714;
    color: #7C1646;
    font-weight: bold;
    text-transform: uppercase;
}

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 74px 100px 0 100px;
}

.s3subsection {
    display: flex;
}

.s3subsection:nth-child(1) .s3image,
.s3subsection:nth-child(2) .s3image,
.s3subsection:nth-child(3) .s3image {
    margin-bottom: .5em;
}

/* .overlay {
    position: relative;
    height: 521px;
    width: 800px;
    background: linear-gradient(360deg, #7C1646 15%, #E2075B 100%);
}

.overlay-alt {
    background: linear-gradient(180deg, #FBB714 0%, #F77E23 78.11%);
} */

.s3textgroup {
    position: absolute;
    padding: 70px 50px 70px 50px;
    color: #fff;
}

.s3heading {
    text-transform: uppercase;
    font-size: 52px;
    font-weight: 400;
    width: 5em;
    /* letter-spacing: -.05em; */
}

.s3text {
    font-size: 28px;
    margin-top: -.8em;
}

.s3image {
    /* height: 100%; */
    height: 521px;
    /* height: 489px; */
    /* width: 822px; */
    width: 100%;
}

.section4 {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    justify-content: center;
    padding: 48px 100px 48px 100px;
}

.s4heading {
    font-size: 30pt;
    color: #7C1646;
    text-transform: capitalize;
}

.s4hcolor {
    color: #7C1646;
}

.s4text {
    font-size: 22pt;
}

.s4image {
    /* border-radius: 8px; */
    margin-top: 24px;
    height: auto;
    width: auto;
}

.s4heading-alt {
    font-size: 28pt;
}

/* Responsive */
@media screen and (max-width: 576px) {
    .main {
        display: none;
    }
    .main-mob {
        display: block !important;
    }
}

.main-mob {
    display: none;
    background: #fff;
}

.container-mob {
    height: auto;
    width: auto;
}

.mob-section1 {
    padding: 115px 20px 115px 20px;
}

.s1mobimage {
    height: 131px;
    width: 100%;
}

.s1mobheading {
    font-size: 40px;
}

.s1mobsubimg {
    height: 100%;
    width: 100%;
}

.s1mobtext {
    font-size: 20px;
}

.mob-section2 {
    margin-top: -6.5em;
    padding: 0 20px 0 20px;
}

.mobregform {
    display: flex;
    flex-direction: column;
}

.mobformheading {
    font-size: 16pt;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    color: #7C1646;
}

.mobtextbox {
    height: 2.5em;
    width: 95%;
    margin-bottom: 14px;
    border-radius: 5.33px;
    padding-left: .9em;
    background: rgba(128, 128, 128, 0.05);
    border: .01em solid #80808080;
}

.mobtextbox:focus {
    outline: none;
}

.mob-radio-container {
    display: flex;
    flex-direction: column;
    margin-left: -.5em;
    margin-bottom: .25em;
}

.mob-radio-box {
    font-size: 15px;
}

.mob-radio-label {
    position: relative;
    top: -.2em;
}

.mobbutton {
    width: auto;
    height: 50px;
    width: 95%;
    border: none;
    margin-top: .5em;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 16px;
    background: #FBB714;
    color: #7C1646;
    font-weight: bold;
    text-transform: uppercase;
}

.mob-section3 {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 71px 0 0 0;
}

.s3mobsubsection {
    display: flex;
}

.s3mobsubsection:nth-child(1) .s3mobimage,
.s3mobsubsection:nth-child(2) .s3mobimage,
.s3mobsubsection:nth-child(3) .s3mobimage {
    margin-bottom: .25em;
}

/* .moboverlay {
    position: relative;
    height: 197px;
    width: 148px;
    background: linear-gradient(360deg, #7C1646 15%, #E2075B 100%);
}

.moboverlay-alt {
    background: linear-gradient(180deg, #FBB714 0%, #F77E23 78.11%);
} */

.s3mobtextgroup {
    position: absolute;
    /* padding: 8px 25px 8px 25px; */
    padding: 8px 10px 8px 10px;
    color: #fff;
}

.s3mobheading {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    width: 5em;
}

.s3mobtext {
    font-size: 11px;
    margin-top: -.5em;
    width: 12em;
}

.s3mobimage {
    height: auto;
    /* height: 197px; */
    width: 101%;
}

.mob-section4 {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    justify-content: center;
    padding: 48px 20px 60px 20px;
}

.s4mobheading {
    text-transform: capitalize;
    font-size: 1.48em;
}

.s4mobhcolor {
    color: #7C1646;
}

.s4mobtext {
    font-size: 18px;
}

.s4mobimage {
    /* border-radius: 8px; */
    margin-top: 24px;
    height: 100%;
    width: 100%;
}

.s4mobheading-alt {
    font-size: 28px;
}
